body {
    display: flex;
    flex-direction: column;
}

.header {
    height: .9rem;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(186, 186, 186);
    font-size: 0;
    position: relative;
}

.header span {
    font-size: .5rem;
    line-height: .9rem;
    margin-left: .2rem;
    position: absolute;
}

.header-title {
    text-align: center;
    font-size: .36rem;
    line-height: calc(.9rem - 1px);
}

.main {
    flex: 1;
    /*很重要*/
    height: 0;
    overflow-y: scroll;
}

.swiper-slide>img {
    width: 100%;
}

.swiper-pagination>span {
    border-radius: 0;
    width: .2rem;
    height: 3px;
    margin-left: 3px;
}

.swiper-pagination-bullet-active {
    background: rgb(255, 104, 104);
}

.content-01 {
    margin: .1rem .2rem;
}

.con01 {
    position: relative;
}

.content-01 .con01 a {
    display: block;
    font-size: .3rem;
    line-height: .4rem;
    width: 100%;
    height: .8rem;
}

.con01>span {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .1rem;
    color: #7b7b7b
}

.footer {
    height: .8rem;
    background: #f0f0f0;
}

.con02 ul {
    display: flex;
    width: 100%;
}

.con02 li {
    flex: 1;
    height: 1.6rem;
}

img {
    display: block;
    height: 100%;
    width: 100%;
}

.con03 {
    margin: .1rem .2rem;
    display: flex;
    position: relative;
}

.con03>img {
    width: 2.2rem;
    height: 2rem;
}

.con03>h3 {
    margin-left: .2rem;
    flex: 1;
    font-size: .3rem;
    line-height: .5rem;
}

.con03>span {
    font-size: .1rem;
    color: #7b7b7b;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer {
    background: #ccc;
}

.footer ul {
    display: flex;
}

.footer ul li {
    flex: auto;
    color: white;
    text-align: center;
    line-height: .8rem;
    font-size: .4rem;
    list-style: none;
}